@using MVC1.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Ativo</th>

    </tr>
    @foreach (Categoria cat in ViewBag.MinhasCategorias)
    {
        <tr>
            <td>@cat.id</td>
            <td>@cat.Nome</td>
            <td>@cat.Ativo</td>
        </tr>
    }
</table>

